<html>
<h2>Hello World</h2> <p>

<h3>La fecha actual es : <%= @fecha_dia %>-<%= @fecha_mes %>-<%= @fecha_anio %> </h3>

<img src="C:\repositorio\app\assets\images\JohnRamboNewPic1.jpg" alt="aca iba una imagen">



</html>